#main {
	
	margin-top: 55px; /*margin equal to navbars height*/
	padding-bottom: 50px;
	
}

#main a {
	
	margin: 20px 0;
	background-color: #903E6E;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 11px;
    text-decoration: none;
    font-size: 15px;
	transition: 0.4s;
	
}

#main h3 {
	
	margin: 0 35px 35px;
	overflow: auto;
	display: block;
	
}

input[type=text] {
	
    width: 50%;
    padding: 15px;
    margin: 30px auto;
    display: block;
    border: none;
    background: #f0dbe7;
	
}

input[type=text]:focus {
	
	background-color: #d5c3d1;
    outline: none;
	
}

#container {
	
	min-height: 100%;
  	position: relative;
	
}

#footer {

    position: absolute;
   	bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
    width: 100%;
    color: black;
    text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	height: 50px;

}

@media screen and (max-width: 600px) {
	
	#main h3 {
	
		margin: 0 25px 25px;
	
	}
	
	input[type=text] {
		
		width: 85%;
		
	}
	
}

table {

    border-collapse: collapse;
	margin: 50px auto 5px;
	font-size: 15px;
	overflow-x: scroll;
	
}

table, td, th {
	
	white-space: nowrap;
    border: 1px solid black;
	padding: 4px;
}

th {
	
	text-align: left;

}

#contactTable {
	
	overflow-x: auto;
		
}

/*

#contactTable::-webkit-scrollbar {
	
 	display: none;
	
}
*/

#main #editor1,  #main #editor2{
	
	margin: 0;
	background: transparent;
    color: black;
    text-align: center;
    padding: 3px;
    text-decoration: underline;
	cursor: pointer;
	
}

/*
@media screen and (max-width: 800px) {
	
	#contactTable::-webkit-scrollbar {
	
  		display: inline-block;
	
	}
	
}*/
