.col-container {
	
    display: table;
    width: 100%;
	table-layout: fixed;
	text-align: center;
	font-size: 30px;
	
}

.col {
	
    display: table-cell;
	padding: 15px;
	text-align: center;
	
}


@media only screen and (max-width: 600px) {
	
    .col { 
		
        display: block;
		
    }
	
}