.features {
	
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 30px;
}

.features p {
	
	
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;

}

.features table {
	
    display: table;
    width: 100%;

}