.col-container {
	
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
	table-layout: fixed;
	text-align: center;
	font-size: 30px;
}

.col {
	
    display: table-cell;/* Make elements inside the container behave like table cells */
	padding: 10px;
	
}


@media only screen and (max-width: 600px) {
	
    .col { 
		
        display: block;
        width: 100%;
		
    }
	
}